@import url('https://fonts.googleapis.com/css2?family=VT323');
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');*/

html {
    font-family: VT323;
    font-size: 18px;
    background-color: white;
    color: black;
    font-variant-ligatures: no-common-ligatures;
}

@media only screen and (min-width: 768px) {
    html {
        padding: 1em;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.2em 0;
    margin: 0.2em 0;
}

.good {
    color: green;
}

.bad {
    color: red;
}
