.warn {
    color: #844;
    font-size: 0.8em;
}

a {
    color: blue;

    &[href=""] {
        pointer-events: none;
        color: inherit;
        text-decoration: none;
    }
}

* {
/*    border: 1px solid #000a;*/
}

body > footer {
    font-size: 0.8em;
    margin-top: 2em;
    padding: 2em;
    font-weight: 300;
    color: #444;
    text-align: center;
}

@keyframes swing {
    from {
        rotate: -30deg;
        translate: 0 0;
    }
    25% {
        translate: 10px -15px;
    }
    50% {
        rotate: -10deg;
    }
    75% {
        translate: 5px 10px;
    }
    to {
        rotate: -30deg;
        translate: 0 0;
    }
}

@keyframes working-visual {
    from {
        outline-width: 2px;
        outline-offset: -2px;
        rotate: 2deg;
        --progress: 0;
    }

    5% {
        outline-color: grey;
        rotate: -1deg;
    }

    20% {
        outline-color: red;
        rotate: 2deg;
    }

    50% {
        outline-width: 20px;
        outline-offset: 20px;
        outline-color: gold;
        rotate: -2deg;
        --progress: 1;
    }

    80% {
        outline-color: green;
        rotate: 2deg;
    }

    95% {
        outline-color: blue;
        rotate: 362deg;
    }

    to {
        rotate: 1deg;
        outline-width: 2px;
        outline-offset: -2px;
        --progress: 0;
    }
}

.postit {
    background: yellow;
    margin: 0.5em;
    color: black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 8px 0 #0004;
    padding: 1em;
    padding-right: 2em;
    line-height: 1.4;
    font-size: 14px;
    display: flex;
    position: relative;
    text-align: left;

    &::after {
        content: '📌';
        top: 8px;
        right: 8px;
        position: absolute;
    }
}

header#intro {
    font-size: 1.5em;

    nav {
        display: flex;
        flex-wrap: wrap;
        border-style: groove;
        border-width: 17px;
        border-color: #ee3e0b90;
        padding: 1em;

        > .left {
            flex: 0 0 auto;
        }

        > .right {
            min-width: 320px;
            flex: 1 1;
            display: flex;
            flex-direction: column;
        }

        .footnote {
            font-size: 0.6em;
            font-weight: 300;
            text-align: right;
            padding-top: 2em;
            color: #555;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        h1 {
            margin-top: 0;
            padding-top: 0;
            font-size: 2.5em;
            font-weight: 100;
        }

        a.logo {
            height: 240px;
            display: block;
            padding: 0 70px 0 20px;
        }

        img.logo {
            height: 100%;
            perspective: 100px;
            animation: 5s infinite ease-in-out swing;
        }
    }
}

body > main {
    margin-top: 2em;
}


html:not(.has-connection) {
    .has-connection-only {
        display: none;
    }
}

html.has-connection {
    .no-connection-only {
        display: none;
    }
}

html.init {
    .no-init-only {
        display: none;
    }
}

html:not(.init) {
    .init-only {
        display: none;
    }
}

.mod {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;

    &:not(.installed) {
        .installed-only {
            display: none;
        }
    }

    &.installed {
        .not-installed-only {
            display: none;
        }
    }

    &:not(.restart-required) {
        .restart-required-only {
            display: none;
        }
    }

    &.restart-required {
        .no-restart-required-only {
            display: none;
        }
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        .name {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 2em;
            padding-right: 0.2em;
        }
    }

    .filler {
        flex: 1 0;
    }

    footer {
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #0003;
    }

    .vote {
        display: inline-flex;
        flex-direction: column;
        vertical-align: middle;

        a {
            font-size: 1.2em;
            font-weight: 500;
            cursor: pointer;
            line-height: 0.6;
            transition: 200ms -webkit-text-stroke, 200ms filter;
            &[data-vote="up"] {
                color: green;
            }
            &[data-vote="down"] {
                color: red;
            }

            &:hover {
                -webkit-text-stroke: 1px #000;
                filter: drop-shadow(0 0 4px #000a);
            }

            &:active {
                -webkit-text-stroke: 0px #000;
                filter: brightness(0.5);
            }

            &.busy {
                pointer-events: none;
                opacity: 0.4;
            }
        }
    }

    .mod-logo {
        width: 10em;
        height: 10em;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .author {
        display: flex;
        align-items: center;
    }

    .author-avatar {
        display: block;
        border-radius: 50vh;
        overflow: hidden;
        width: 3em;
        height: 3em;
        margin-right: 0.5em;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .meta {
        padding: 0.1em 0.2em;
        font-weight: 300;

        &:not(:last-child)::after {
            font-weight: 200;
            opacity: 0.3;
            content: ' | ';
        }
    }

    .tags {
        display: inline-flex;
        flex: 1 0 auto;
        justify-content: center;
    }

    .tag {
        --color: #36c;
        display: inline-flex;
        font-size: 0.88em;
        text-transform: uppercase;
        border-radius: 0.28em;
        padding: 0.12em 0.6em;
        background-image: linear-gradient(135deg, color-mix(in srgb, var(--color), black 30%), var(--color));
        color: white;
        margin: 0.15em;
        position: relative;

        &.busy {
            animation: 1.5s working-visual infinite linear;
            pointer-events: none;
            filter: saturate(0.5);
            color: transparent;
            min-width: 10ch;

            &::before {
                content: 'Science...';
                color: white;
                position: absolute;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                pointer-events: none;
                z-index: 1;
                background-image:
                    linear-gradient(to right,
                        transparent calc(100% * var(--progress) - 2px),
                        black calc(100% * var(--progress)),
                        transparent calc(100% * var(--progress) + 2px)),
                    linear-gradient(to bottom,
                        transparent calc(100% * var(--progress) - 2px),
                        black calc(100% * var(--progress)),
                        transparent calc(100% * var(--progress) + 2px));
            }
        }
    }

    .install-remove,
    .disconnected {
        margin-left: 0.8em;
        font-size: 0.6em;
        text-decoration: none;

        &.install-remove .tag {
            border: 3px double black;
            outline: 3px double black;
            outline-offset: 2px;
            transition: 400ms outline;

            &:hover {
                outline-width: 10px;
            }
        }

        &.disconnected .tag {
            --color: grey;
        }
    }

    a:hover .tag {
        box-shadow: 1px 1px 4px 0 #0004;
    }

    a:active .tag {
        box-shadow: 1px 1px 4px 0 #0004 inset;
    }

    .install.tag {
        --color: #4c5;
    }

    .remove.tag {
        --color: #c45;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #0003;
        padding-top: 1em;

        section.left {
            flex: 0 0 auto;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        section.right {
            min-width: 300px;
            flex: 1 1;
            display: flex;
            flex-direction: column;
        }
    }

    .mod-description {
        padding: 0.5rem;
        font-size: 1.3em;
        max-height: 10em;
        overflow: auto;
    }

    .release-info {
        border-top: 1px solid #0003;
        margin: 0.5rem 0.5rem 0;
        padding-top: 0.5em;
        font-size: 1em;

        .notes {
            margin-left: 1em;
            padding: 0.5em;
            white-space: pre-wrap;
            max-height: 6rem;
            overflow: auto;
            /*font-family: monospace;*/ /*Use a monospace font when were done playing around with the funny style*/
        }
    }
}


@media only screen and (max-width: 768px) {
    .mod {
        margin: 0;

        header {
            .name {
                font-size: 1.5em;
                flex: 1 0 100%;
                justify-content: space-between;
                margin-bottom: 0.5em;
            }

            .filler {
                display: none;
            }
        }
    }
}
