html.preview-mode {
    padding: 0 !important;

    body > header,
    body > footer,
    .not-preview {
        display: none;
    }

    body {
        margin: 0;

        > main {
            margin: 0;

            > section > h1 {
                display: none;
            }

            .mod[data-id] {
                border: none;
                margin: 0;
            }
        }
    }
}

.warn {
    font-size: 1.1em;
}

a {
    &[href=""] {
        pointer-events: none;
        color: inherit;
        text-decoration: none;
    }
}

body > footer {
    font-size: 0.8em;
    margin-top: 2em;
    padding: 2em;
    font-weight: 300;
    color: hsl(from var(--fg-color) h s calc(l + 27 * var(--fg-dir)));
    text-align: center;
}

@keyframes swing {
    from {
        rotate: -30deg;
        translate: 0 0;
    }
    25% {
        translate: 10px -15px;
    }
    50% {
        rotate: -10deg;
    }
    75% {
        translate: 5px 10px;
    }
    to {
        rotate: -30deg;
        translate: 0 0;
    }
}

@keyframes working-visual {
    from {
        outline-width: 2px;
        outline-offset: -2px;
        rotate: 2deg;
        --progress: 0;
    }

    5% {
        outline-color: grey;
        rotate: -1deg;
    }

    20% {
        outline-color: red;
        rotate: 2deg;
    }

    50% {
        outline-width: 20px;
        outline-offset: 20px;
        outline-color: gold;
        rotate: -2deg;
        --progress: 1;
    }

    80% {
        outline-color: green;
        rotate: 2deg;
    }

    95% {
        outline-color: blue;
        rotate: 362deg;
    }

    to {
        rotate: 1deg;
        outline-width: 2px;
        outline-offset: -2px;
        --progress: 0;
    }
}

.postit {
    background: #ffef00;
    color: black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 8px 0 #0004;
    padding: 0.6em 1em;
    padding-right: 2em;
    line-height: 1.4;
    font-size: 14px;
    display: flex;
    position: relative;
    text-align: left;
    max-width: 30ch;
    max-width: 80ch;

    &::after {
        content: '📌';
        top: 8px;
        right: 8px;
        position: absolute;
    }
}

header#intro {
    font-size: 1.5em;

    .what {
        font-size: 0.7em;
        padding: 0.2em;

        a {
            text-decoration: none;
            opacity: 0.8;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        border-style: groove;
        border-width: 40px;
        border-color: #cc2e0b;
        align-items: center;
        justify-content: center;

        > .left {
            flex: 0 0 auto;
        }

        > .right {
            min-width: 320px;
            padding: 0.5em;
            flex: 1 1;
            display: flex;
            flex-direction: column;
        }

        .footnote {
            font-size: 0.6em;
            font-weight: 300;
            text-align: right;
            color: hsl(from var(--fg-color) h s calc(l + 33 * var(--fg-dir)));

            a {
                color: inherit;
                text-decoration: none;
            }

            .postit {
                margin-top: 1em;
            }
        }

        h1 {
            margin: 0 0;
            padding: 0;
            font-size: 2.5em;
            font-weight: normal;
        }

        a.logo {
            height: 200px;
            display: block;
            padding: 0 70px 0 20px;
        }

        img.logo {
            height: 100%;
            animation: 5s infinite ease-in-out swing;
        }
    }
}

body > main {
    margin-top: 2em;
}

html {
    position: relative;

    &:not(.has-connection) .has-connection-only,
    &.has-connection .no-connection-only {
        display: none;
    }

    &.init .no-init-only,
    &:not(.init) .init-only {
        display: none;
    }
}

.directory {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.markdown {
    p {
        margin: 0 0 0 0;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    ul, ol {
        margin: 0 0 0 0;
        padding-left: 1.3em;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }
}

.mod {
    border: 1px solid var(--fg-color);
    margin-bottom: 1.5em;
    padding: 0.8em;

    &:not(.installed) {
        .installed-only {
            display: none;
        }
    }

    &.installed {
        .not-installed-only {
            display: none;
        }
    }

    &:not(.restart-required) {
        .restart-required-only {
            display: none;
        }
    }

    &.restart-required {
        .no-restart-required-only {
            display: none;
        }
    }

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0.5em;

        .name {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 1.5em;
            padding-right: 0.2em;
        }
    }

    .filler {
        flex: 1 0;
    }

    footer {
        color: hsl(from var(--fg-color) h s calc(l + 27 * var(--fg-dir)));
        margin-top: 0.5em;
        padding-top: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid hsl(from var(--fg-color) h s l / 0.2);
    }

    .vote {
        display: inline-flex;
        flex-direction: column;
        margin-right: 0.6rem;

        a {
            display: flex;
            line-height: 0;
            cursor: pointer;
            transition: 100ms filter;

            svg {
                height: 0.7em;
            }

            &[data-vote="up"] {
                fill: green;
            }

            &[data-vote="down"] {
                fill: red;
            }

            &:hover {
                filter: drop-shadow(1px 1px 1px #0007);
            }

            &:active {
                filter: brightness(0.5);
            }

            &.busy {
                pointer-events: none;
                opacity: 0.4;
            }
        }
    }

    .rank-badge {
        position: relative;
        margin-right: 0.4rem;
        aspect-ratio: 1 / 1;
        height: 1.8em;

        .rank-value,
        .rank-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rank-value {
            z-index: 1;
            color: #fff;
            font-weight: 900;
            font-size: 0.88em;
        }

        .rank-icon {
            svg {
                --from: #a33;
                --to: #d00;
                stroke-width: 50px;
                stroke: var(--fg-color);
                fill: var(--from);
                animation: pulse-fill 1.4s infinite;
            }
        }
    }

    .mod-logo {
        width: 10em;
        height: 10em;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .author {
        display: flex;
        align-items: center;
    }

    .author-avatar {
        display: block;
        border-radius: 50vh;
        overflow: hidden;
        width: 3em;
        height: 3em;
        margin-right: 0.5rem;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .meta {
        padding: 0.1em 0.2em;
        font-weight: 300;
        color: hsl(from var(--fg-color) h s calc(l + 27 * var(--fg-dir)));

        &:not(:last-child)::after {
            font-weight: 200;
            opacity: 0.3;
            content: ' | ';
        }

        &.flex {
            display: flex;
            align-items: center;
        }
    }

    .tags {
        display: inline-flex;
        flex: 1 0 auto;
        justify-content: center;
    }

    .tag {
        --color: #36c;
        display: inline-flex;
        font-size: 0.88em;
        text-transform: uppercase;
        border-radius: 0.28em;
        padding: 0.12em 0.6em;
        background-image: linear-gradient(135deg, color-mix(in srgb, var(--color), black 30%), var(--color));
        color: white;
        margin: 0.15em;
        position: relative;

        &.busy {
            animation: 1.5s working-visual infinite linear;
            pointer-events: none;
            filter: saturate(0.5);
            color: transparent;
            min-width: 10ch;

            &::before {
                content: 'Science...';
                color: white;
                position: absolute;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                pointer-events: none;
                z-index: 1;
                background-image:
                    linear-gradient(to right,
                        transparent calc(100% * var(--progress) - 2px),
                        #333 calc(100% * var(--progress)),
                        transparent calc(100% * var(--progress) + 2px)),
                    linear-gradient(to bottom,
                        transparent calc(100% * var(--progress) - 2px),
                        #333 calc(100% * var(--progress)),
                        transparent calc(100% * var(--progress) + 2px));
            }
        }
    }

    .install-remove,
    .disconnected {
        margin-right: 0.5rem;
        text-decoration: none;

        &.install-remove .tag {
            border: 3px double var(--fg-color);
            outline: 3px double var(--fg-color);
            outline-offset: 2px;
            transition: 400ms outline;

            &:hover {
                outline-width: 10px;
            }
        }

        &.disconnected .tag {
            --color: grey;
        }
    }

    a:hover .tag {
        box-shadow: 1px 1px 4px 0 #0004;
    }

    a:active .tag {
        box-shadow: 1px 1px 4px 0 #0004 inset;
    }

    .install.tag {
        --color: #4c5;
    }

    .remove.tag {
        --color: #c45;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid hsl(from var(--fg-color) h s l / 0.2);
        padding-top: 0.5em;

        section.left {
            flex: 0 0 auto;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        section.right {
            min-width: 300px;
            max-height: 13em;
            overflow: auto;
            flex: 1 1;
            display: flex;
            flex-direction: column;
        }
    }

    .mod-description {
        color: hsl(from var(--fg-color) h s calc(l + 20 * var(--fg-dir)));
        padding: 0.5rem;
        font-size: 1em;
    }

    .release-info {
        color: hsl(from var(--fg-color) h s calc(l + 20 * var(--fg-dir)));
        border-top: 1px solid hsl(from var(--fg-color) h s l / 0.2);
        margin: 0.5rem 0.5rem 0;
        padding-top: 0.5em;
        font-size: 0.9em;

        > header {
            color: hsl(from var(--fg-color) h s calc(l + 47 * var(--fg-dir)));
            font-size: 0.8em;
            font-weight: bold;
        }

        .notes {
            padding: 0 0.4em;
            margin-bottom: 0.2em;
        }
    }
}

@keyframes opacity-pulse-crt {
    from {
        opacity: 0.02;
        background-size: 100% 4px, 4px 100%;
    }
    50% {
        opacity: 0.1;
        background-size: 100% 10px, 10px 100%;
    }
    to {
        opacity: 0.02;
        background-size: 100% 4px, 4px 100%;
    }
}

@keyframes unsettled {
    1% {scale: 1;}
    1% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    2% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    3% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    4% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    5% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    6% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    7% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    8% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    9% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    10% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    11% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    12% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    13% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    14% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    15% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    16% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    17% {transform: rotateX(-5deg) rotateY(-3deg) rotateZ(2deg);}
    18% {transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    30% {scale: 0.9; transform: rotateX(5deg) rotateY(3deg) rotateZ(-2deg);}
    80% {scale: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
}

.crt {
    animation: unsettled 7s 1 ease-in-out;
    transform-origin: center 40vh;
    perspective: 800px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0 0 0 0;
        background-image:
            linear-gradient(180deg,
                #222   0%, #222    8%,
                #fff0  5%, #fff0  95%,
                #222  95%, #222  100%
            ),
            linear-gradient(90deg,
                #222  0%,   #222   2%,
                #a00  2%,   #a00  31.3%,
                #222 31.3%, #222  35.3%,
                #0a0 35.3%, #0a0  64.6%,
                #222 64.6%, #222  68.6%,
                #00a 68.6%, #00a  98%,
                #222 98%,   #222 100%
            );
        z-index: 2;
        background-size: 100% 4px, 4px 100%;
        pointer-events: none;
        animation: opacity-pulse-crt 5s infinite;
    }
}

@media only screen and (max-width: 768px) {
    .mod {
        margin: 0;

        header {
            .name {
                font-size: 1.5em;
                flex: 1 0 100%;
                justify-content: space-between;
                margin-bottom: 0.5em;
            }

            .filler {
                display: none;
            }
        }
    }
}


@keyframes pulse-fill {
    0% {
        fill: var(--from);
    }
    55% {
        fill: var(--from);
    }
    65% {
        fill: var(--to);
    }
    75% {
        fill: var(--from);
    }
    85% {
        fill: var(--to);
    }
    100% {
        fill: var(--from);
    }
}
